<p class="mb-4">landing-page works!</p>

<button type="button" class="btn-primary btn-xs mb-2 me-2">Primary</button>
<button type="button" class="btn-secondary btn-sm mb-2 me-2">Secondary</button>
<button type="button" class="btn-error btn-md mb-2 me-2">Error</button>

<div class="mb-6">
  <label
    for="email"
    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
    >Your email</label
  >
  <input
    type="email"
    id="email"
    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
    placeholder="name@flowbite.com"
    required
  />
</div>

<!-- <fa-icon [icon]="faGithub" class="fa-2x" /> -->
